In [7]:
import pandas as pd

inputfile = 'Students.csv'
df = pd.read_csv(inputfile)

df_sorted = df.sort_values(by='Age')

print(df_sorted)

              Name  Age  Marks              School          City
2     Olivia Brown   15     92  Maple Leaf Academy       Chicago
5   William Miller   15     78  Maple Leaf Academy     San Diego
8  Sophia Anderson   15     73      Greenwood High      San Jose
3      Noah Wilson   16     67      Greenwood High       Houston
6       Ava Garcia   16     85    Riverdale School        Dallas
0    Alice Johnson   16     88      Greenwood High      New York
9  Benjamin Thomas   16     95    Riverdale School  Philadelphia
1       Liam Smith   17     75    Riverdale School   Los Angeles
7   James Martinez   17     90     Lakeview School        Austin
4       Emma Davis   17     81     Lakeview School       Phoenix